<div>
  <mat-toolbar color="secondary">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-evenly center">
      <button mat-button type="button" (click)="launchAddRemoteAppConfigModal()">

        <div ngStyle.sm="'font-size': '12px'" ngStyle.gt-sm="font-size: 16px">
          <p>Add Config</p>
        </div>
      </button>
      <button mat-button type="button" (click)="launchDeleteRemoteAppConfigModal()">
        <div ngStyle.sm="'font-size': '12px'" ngStyle.gt-sm="font-size: 16px">
          <p>Delete Config</p>
        </div>
        </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <form [formGroup]="appLauncherForm" (ngSubmit)="onSubmit()" novalidate>
    <mat-grid-list #buttonContainer [cols]="isMobile ? 1 : 4" rowHeight="100px" fxLayout="row" fxLayout.xs="column"
      fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
      <mat-grid-tile *ngFor="let config of remoteAppData">
        <button type="button" id="config.id" class="launch-button"
          [appButtonColor]="config.colour" [disabled]="routineRunning" (click)="runRemoteApp(config)">{{config.alias}}</button>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>
